<footer class="site-footer">

  <div class="wrapper">
  </div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
<script src="https://rawgithub.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script>
<script src="//rawgithub.com/jsoma/tabletop/master/src/tabletop.js"></script>
<script src="{{ "/build/js.min.js" | prepend: site.baseurl }}"></script>
